$max_width: 800px;

// color
$white: white;
$text: white;
$bg_dark: #00828f;
$bg: #00acc4;
$purple: #65499f;
$lv_0: #777777;
$lv_1: #294dff;
$lv_2: #0277bd;
$lv_3: #0097a7;
$lv_4: #388e3c;
$lv_5: #e65100;
$lv_6: #d84315;
$lv_7: #c62828;
$lv_8: #212121;
