@use "./global" as *;

.About {
  background-color: $bg;
  color: $text;
  width: 100%;
  min-height: 100vh;
  .wrapper {
    max-width: $max_width;
    margin: auto;
    h3,
    h4 {
      margin-bottom: 0.5rem;
    }
    .scaleEight {
      width: 100%;
      max-width: 1000px;
      border-collapse: collapse;
      overflow: hidden;
      display: block;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .icons {
        font-size: 2rem;
      }
      tr {
        border-bottom: 2px solid white;
        color: white;
        &:first-child {
          border-top: 2px solid white;
        }
        td:nth-child(1) {
          background-color: $purple;
        }
        td:nth-child(2) {
          background-color: $lv_1;
        }
        td:nth-child(3) {
          background-color: $lv_2;
        }
        td:nth-child(4) {
          background-color: $lv_3;
        }
        td:nth-child(5) {
          background-color: $lv_4;
        }
        td:nth-child(6) {
          background-color: $lv_5;
        }
        td:nth-child(7) {
          background-color: $lv_6;
        }
        td:nth-child(8) {
          background-color: $lv_7;
        }
        td:nth-child(9) {
          background-color: $lv_8;
        }
        td {
          padding: 0.5rem;
          width: 11%;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
    .scaleFour {
      width: 100%;
      max-width: 1000px;
      border-collapse: collapse;
      overflow: hidden;
      display: block;
      overflow-x: scroll;
      &::-webkit-scrollbar {
        display: none;
      }
      .icons {
        font-size: 2rem;
      }
      tr {
        border-bottom: 2px solid white;
        color: white;
        &:first-child {
          border-top: 2px solid white;
        }
        td:nth-child(1) {
          background-color: $purple;
        }
        td:nth-child(2) {
          background-color: $lv_2;
        }
        td:nth-child(3) {
          background-color: $lv_4;
        }
        td:nth-child(4) {
          background-color: $lv_5;
        }
        td:nth-child(5) {
          background-color: $lv_7;
        }
        td {
          padding: 0.5rem 1.75rem;
          width: 20%;
          text-align: center;
          white-space: nowrap;
        }
      }
    }
  }
}
