@use "./_global" as *;

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

//

a {
  text-decoration: none;
  color: inherit;
}

* {
  box-sizing: border-box;
}

#bg0 {
  background-color: $lv_0;
}
#bg1 {
  background-color: $lv_1;
}
#bg2 {
  background-color: $lv_2;
}
#bg3 {
  background-color: $lv_3;
}
#bg4 {
  background-color: $lv_4;
}
#bg5 {
  background-color: $lv_5;
}
#bg6 {
  background-color: $lv_6;
}
#bg7 {
  background-color: $lv_7;
}
#bg8 {
  background-color: $lv_8;
}
