@use "./global" as *;

.LocalNavbar {
  background-color: $bg_dark;
  position: sticky;
  top: 0;
  .wrapper {
    margin: auto;
    max-width: $max_width;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    .leftIcon {
      font-size: 1.5rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
    }
    .current {
      flex: 1;
      padding: 0.5rem 1rem;
      font-size: 1rem;
    }
  }
}
